/* NAV BAR */

#headerHolder {
	background-color: pink;
	position:relative;
	height: 50px;
}

#navbar a:visited, #navbar a:link{
	text-decoration: none;
	color:white;
}
#navbar ul {
	list-style:none;
	margin: 5px;
}

#navbar li {
	float:left;
	margin-right: 5px;
}

#navbar li a {
	display: block;
	background-color: transparent;
	padding: .5em;
}

#navbar li  a:hover{
	text-decoration: none;
	color: #000;
	background-color:#fff ;
}
#navbar li ul {
	display:none;
	position:absolute;
	padding:0px;
}

#navbar li:hover ul{
	display:block;
}

#navbar li li {
	border-bottom: 1px solid #ccc;
	float:none;
}

#navbar li li a{
	border: 0px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc; 
}

/*INDEX*/
#recentJobs {
	float:left;
	height:600px;
	width:300px;
	border: solid 2px black;
	margin-left: 45px;
}

.postings {
	padding: 15px;
}


/* TABS */
/* Default color for links inside the tabbed box */ 
.ui-widget-content a, .ui-widget-content a:hover, .ui-widget-content a:visited, .ui-widget-content a:active {
color: #2954d1 !important; 
text-decoration: underline !important; 
}

/* Default styling for selected tab titles */ 
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
color: #212121 !important;
text-decoration: none !important;
cursor: text !important;
}

/* Default styling for unselected tab titles */ 
.ui-state-default a:hover, .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
color: #555555 !important;
text-decoration: none !important;
cursor: text !important;
}

#tabs {
	width: 800px;
	height: 600px;
	float:left;
	margin-left: 45px;
}

/*NO MORE TABS*/



/*DASHBOARD*/
.dashboardSection {
	float:left;
	margin-left: 45px;
	height:450px;
	width: 550px;
	border: solid 2px black;
}

.dashboardTitle {
	text-align: center;
}


.jobPic {
	position:relative;
	width:75px;
	float:left;
}

.jobContactInfo {
	float:left;
	position:relative;

}

.jobDashPrice {
	float:right;
}

.jobMap {
	border: solid 2px purple;
}

.jobNotes {
	border: solid 2px teal;

}


/*ACCOUNT*/
#profile {
	border: solid 2px black;
	height:550px;
	width:95%;
	margin-left: 2.5%;
	padding: 15px;
}

#profilePic {
	height: 200px;
	width: 200px;
	float:left;
	margin:15px;
}

#contactInfo {
	float:left;
	padding: 15px;

}

#ratingDiv {
	float:right;
	margin-right: 50px;
}

#badgeSpace {
}

.badge {
	float:left;
	width:150px;
	height:350px;
	margin: 25px;
}

.badgeImg {
	width:150px;
}

.profileSection {
	border: solid 1px salmon;
	height:50%;
}

#ratingDiv {
	width:250px;
	padding:15px;
	position:relative;
}

#ratingLabel {
	position:absolute;
	margin-left: 40px;

}

.barArea {
	height: 25px;
	position: relative;
	top: -5.5px;
	width : 200px;
	margin-left: 30%;
	left : 10px;
	border: solid 1px #575353;
	padding: 1px;
}

#ratingFg {
	position:relative;
	bottom : 23px;
	background-color: #3593DD;
	height: 90%;
}

#ratingBg {
	background-color: #E4E4E4;
	height: 100%;
}

/* ~~~~~~~~~~~~ MODAL STYLING ~~~~~~~~~~~~ */
.hidden{

	display: none;

}

.displayModal{
	background-color:white;
	position:fixed;
	width:400px;
	top: 50%;
	left: 50%;
	z-index: 21;
	margin: 100px;
	padding: 10px;
	border:2px solid black;
	border-radius: 10px;

}

.modal {
	display:none;
}

form{
	width:100%;
}

.label {
	width:20%;
}

.formElement{
	width: 75%;	
}

#mapModal{
	width:80%;
	height: 80%;
}

.overlay{
	background-image:url(../img/semi_transparent.png);
	width: 100%;
	height: 100%;
	margin-top:-20px;
	margin-left:-20px;
	padding-right:20px;
	padding-bottom:20px;
	position: fixed;
	z-index: 20;
}


.formElement {

	width:90%;
	margin:5%;
    font-family: 'Raleway', sans-serif;
    border-color:#000;
    color: #000r;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid black;
}

/*JOB POSTINGS*/
.jobPost {
	 width:150px;
	 height:150px;
	 position:relative;
	 float:left;
	 margin-right:30px;
	 margin-bottom:30px;
}

.jobImage {
	width:150px;
	height:150px;
}

.jobTitle {
	position:absolute;
	border:2px solid orange;
	margin-top: 10px;
	text-align: center;
	color:black;
	z-index: 1;
	background-color: white;
	opacity: 0.6;
}
.jobPrice {
	position:absolute;
	border:2px solid red;
	text-align: center;
	color:black;
	z-index: 1;
	background-color: white;
	bottom: 0;
	right: 10px;
	opacity: 0.6;
}

.jobFiller {
	height:100%;
	width:100%;
	z-index:5;
}