/* NAV BAR */
#headerHolder {
	background-color: pink;
}

/*INDEX*/
#recentJobs {
	float:left;
	height:600px;
	width:300px;
	border: solid 2px black;
	margin-left: 45px;
}


/* TABS */
/* Default color for links inside the tabbed box */ 
.ui-widget-content a, .ui-widget-content a:hover, .ui-widget-content a:visited, .ui-widget-content a:active {
color: #2954d1 !important; 
text-decoration: underline !important; 
}

/* Default styling for selected tab titles */ 
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
color: #212121 !important;
text-decoration: none !important;
cursor: text !important;
}

/* Default styling for unselected tab titles */ 
.ui-state-default a:hover, .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
color: #555555 !important;
text-decoration: none !important;
cursor: text !important;
}

#tabs {
	width: 800px;
	height: 600px;
	float:left;
	margin-left: 45px;
}

/*NO MORE TABS*/



/*DASHBOARD*/
.dashboardSection {
	float:left;
	margin-left: 45px;
	height:450px;
	width: 550px;
	border: solid 2px black;
}

/*ACCOUNT*/
#profile {
	border: solid 2px black;
	height:450px;
	width:95%;
	margin-left: 2.5%;
	padding: 15px;
}

#profilePic {
	height: 200px;
	width: 200px;
	float:left;
}

#contactInfo {
	float:left;
	margin-left: 15px;

}

#badges {
	float:none;
}

.profileSection {
	border: solid 1px pink;
	height:50%;
}

#progressDiv {
	width:250px;
}

.progressBar {
	height: 25px;
	position: relative;
	top: -5.5px;
	width: 70%;
	margin-left: 30%;
	border: solid 1px #575353;
	padding: 1px;
}

.progressBar {
	width : 200px;
	left : 10px;
	border: 3px solid green;
}
.progressFg {
	position:relative;
	bottom : 23px;
	background-color: #3593DD;
	height: 90%;
}

.progressBg {
	background-color: #E4E4E4;
	height: 100%;
}

