.close {
	cursor: pointer;

}
.hidden{

	display: none;

}

.displayModal{
	background-color:white;
	position: absolute;
	width:400px;
	z-index: 21;
	padding: 10px;
	border:2px solid black;
	border-radius: 10px;

}

.modal {
	display:none;
}

.label {
	width:20%;
}

#mapModal{
	width:80%;
	height: 80%;
}

.formElement {

	width:90%;
	margin:5%;
    font-family: 'Raleway', sans-serif;
    border-color:#000;
    color: #000r;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid black;
}

/*JOB POSTINGS*/
.jobPost {
	 width:20%;
	 min-width:100px;
	 height:auto;
	 position:relative;
	 float:left;
	 margin-right:5%;
	 margin-bottom:30px;
	 padding: 0px;
}

.jobImage {
	width:100%;
	min-width:85px;
	height:auto;
}

.jobDesc {
	position:absolute;
	width:98%;
	padding: 5px;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: -35px;
	text-align: center;
	color:black;
	z-index: 1;
	background-color: white;
	opacity: 0.55;
	font-size: 14px;
}
.jobPrice {
	position:absolute;
	width:25px;
	height:25px;
	border:2px solid rgb(75,75,75);
	border-radius: 5px;
	text-align: center;
	color:black;
	z-index: 1;
	background-color: white;
	bottom: 0;
	right: 15px;
	opacity: 0.90;
}

.jobFiller {
	height:100%;
	width:100%;
	z-index:5;
}