.currentPage {
	background-color: rgb(34,46,64);
}

.currentPage a {
	color: rgb(255,255,255);
}

.navOverlay {
	background-image:url(../img/semi_transparent.png);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 20;
}

nav.logined {
	
}