<div id="modalOverlay"></div>

<div class = "modal" id="jobPostModal">

	<div class = "modalTitle yellow">

			<h1>Post a Job</h1>

			<button type = "button" class = "closeButton">
				<span>X</span>
			</button>

			<div class = "clear"></div>

	</div>

		<form class = "jobPostForm">

			<div class = "modalColumnLeft">
			
				<select name="category" id="jobCategory" title = "Select One" required>
					<option value="0" selected = "1">Job Category</option>
					<option value="1">Food</option>
					<option value="2">Rides</option>
					<option value="3">Groceries</option>
					<option value="4">Cleaning</option>
					<option value="5">Laundry</option>					
					<option value="6">Maintenance</option>
					<option value="7">Tech Support</option>					
					<option value="8">Other</option>
				</select>


				<label for="jobPrice">Price 
					<span>(Dollar Amounts Only)</span>
				</label>
				<input type="number" id = "jobPrice" name="quantity" value = "2.00" min="2.00" step = "1.00" title = "Dollar Amounts Only greater than 2">

				<label for="jobDeadlineDate">Deadline Date</label>
				<input  id="jobDeadlineDate" type="date" name="deadlineDate" text="Current day or Later">

				<label for="jobDeadlineTime">Deadline Time</label>
				<input id="jobDeadlineTime" type="time" name="deadlineTime" title="At least 30 minutes from current time">

			</div>

			<div class = "modalColumnRight">

				<input type="text" id = "jobDescription" placeholder="SHORT DESCRIPTION" title = "Ex. Burgers and Fries" required>
				<br>
				<input type="text" id = "jobLocation" placeholder="MEETING LOCATION" title = "Ex. Fondy Science" required>
				<br>
				<textarea name="jobNotes" id="jobNotes" cols="22" rows="4" placeholder="NOTES"></textarea>

			</div>


			<div class = "modalRow clear">
		 
			  	<input type="submit" value="Post Job" class = "buttonRight">

		  	</div>
		 </form>
</div>

<div class = "modal" id="accountModal">

	<div class = "modalTitle yellow">

			<h1>Sign up</h1>

			<button type = "button" class = "closeButton">
				<span>X</span>
			</button>

			<div class = "clear"></div>

	</div>
	<form class= "accountForm">

		<div class = "modalRow">
		  	<input id="accountFName" type="text" name="fname" placeholder="FIRST NAME" required> 
		  	<input id="accountLName" type="text" name="lname" placeholder="LAST NAME" required>	 
		</div>	  

		<div class = "modalRow">
		  	<input id="accountEmail" type="email" name="email" placeholder="EMAIL" required pattern="\w+@\w+.\w+" title="not a valid email address">
		  	<input id="accountPhoneNumber" type="tel" name="phonenumber" placeholder="PHONE NUMBER" title = "Format XXX-XXX-XXXX" maxlength = "12" required>
		</div>

		<div class = "modalRow">
		  	<input id="accountPassword" type="password" name="password" placeholder="PASSWORD" required pattern=".{8,}" title="password must be greater than or equal to 8 characters">
		  	<input id="accountConfirmPassword" type="password" name="password" placeholder="CONFIRM PASSWORD" required pattern=".{8,}" title="Password must be greater than or equal to 8 characters">
	  	</div>

	  	<div class = "modalRow">
	  		<label for = "accountBirthDate">Birthday</label>
	  		<br>
	  		<input type = "date" id = "accountBirthDate">
	  		<input type = "radio" name = "accountGender" value = "M" checked = "true">Male
		  	<input type = "radio" name = "accountGender" value = "F">Female
	  	</div>
	  	
	  	<div class = "modalRow">
		  	<input type="submit" value="Create Account" class = "buttonRight">
		  	<div class = "clear"></div>
		</div>

	 </form>

</div>

<div class = "modal" id="tokenModal">

	<div class = "modalTitle yellow">

			<h1>Tokens</h1>

			<button type = "button" class = "closeButton">
				<span>X</span>
			</button>

			<div class = "clear"></div>

	</div>


	<div id="currentToken" class = "modalColumnLeft">
		<h2>Currrent Tokens</h2>
		<div class = "subContent">
			<img src="img/tokenOne.png">
			<p><strong class = "tokenCount">10</strong></p>
		</div>
	</div>	  

	  	
  	<div id="tokenInfo" class = "modalColumnRight">
		<h2>Tokens</h2>
		<div>
			<p>Tokens allow you to do jobs for others and earn money.  Each job cost one token which will be taken only when you are selected to work on the jobs you bid on.  You will not be allowed to bid on Jobs if you are out of tokens.</p>
		</div>
	</div>

	<div class = "clear"></div>

	<form action = "tokens.php">
		<input type = "submit" value="Buy Tokens" class = "buttonRight">
	</form>

	<div class = "clear"></div>

</div>

<div class = "modal" id="successModal">

	<div class = "modalTitle yellow">

			<h1>Success</h1>

			<button type = "button" class = "closeButton">
				<span>X</span>
			</button>

			<div class = "clear"></div>

	</div>

	<div>
		<h2 class = "successTitle"></h2>
		
	</div>	   

</div>

<div class = "modal" id="errorModal">

	<div class = "modalTitle yellow">

			<h1>Error</h1>

			<button type = "button" class = "closeButton">
				<span>X</span>
			</button>

			<div class = "clear"></div>

	</div>

	<div>
		<h2 class = "errorTitle"></h2>
		<div class = "subContent">
			<p id="errorInfo"></p>
		</div>
	</div>	   

</div>












