<!-- 
****************************************
Author: Jordan Silver, Austin Wells 
Team: Lab Labs 

*************************************** 
--> 

<!-- image overlay --> 
<div id="overlay">
</div>

<div id="headerHolder">
	<div id="navDiv">
		<div id="headerTitle">HelpMeOut</div>
		<div id="navbar">
			<ul>
				<li class="navItem" id="indexHeader"> 
				  	<a href="index.php">Home</a> 
				</li>
				<li class="navItem postJob" id="postJobHeader"> 
					<a href="#" class="modalLink">Post A Job</a><!--SHOULD OPEN JOB POSTING MODAL-->
				</li>
				<li class="navItem" id="dashboardHeader"> 
					<a href="dashboard.php">My Jobs<!--pending alert symbol--></a> 
				</li>
				<li class="navItem" id="accountHeader"> 
					<a href="account.php">My Account</a> 
				</li>
				
			</ul>
			<span id="pageTitle">
				<div class="login clickable"> Login/Signup </div>
				<div class="loginInformation"> </div> 
				<div class="logout clickable"> </div> 
			</span>
		</div> 
	</div>
</div>


<!-- Login Modal --> 
<div class="modal"  id="loginModal">
	<form class="loginForm">
	<div class="close">X</div>
	  <input class="formElement" id="loginName" type="text" name="email" placeholder="email" required pattern="\w+@\w+.\w+" title="not a valid email address">
	  <input class="formElement" id="loginPassword" type="password" name="password" placeHolder="password" required>
	  <input type="submit" value="submit">
	  <div class="errorMessage"> </div>
	  <input type="button" value="create account" class="createAccount">  
	 </form>
</div>

<!-- Account Modal --> 
<div class="modal" id="accountModal">
	<form class="accountForm">
		<div class="close">X</div>
	  	<input class="formElement" id="accountFName" type="text" name="fname" placeholder="FIRST NAME" required> 
	  	<input class="formElement" id="accountLName" type="text" name="lname" placeholder="LAST NAME" required>
	  	<input class="formElement" id="accountPhoneNumber" type="text" name="phonenumber" placeholder="PHONE NUMBER" required>
	  	<input class="formElement" id="accountEmail" type="email" name="email" placeholder="EMAIL" required pattern="\w+@\w+.\w+" title="not a valid email address">
	  	<input class="formElement" id="accountPassword" type="password" name="password" placeholder="PASSWORD" required pattern=".{8,}" title="password must be greater than or equal to 8 characters">
	 	<select class="formElement" id="accountCreditCard" name="card">
	  		<option value="mastercard">MasterCard</option>
	  		<option value="Visa">Visa</option>
	  		<option value="AmericanExpress">American Express</option>
		</select>
		<input class="formElement" id="accountCreditCardNumber" type="text" name="creditNumber" placeholder="CREDIT CARD NUMBER" required pattern="^4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|3[47][0-9]{13}" title="not a valid credit card number"> 
	  	<input type="submit" value="create account"> 
	 </form>
</div>

<!-- Job Post Modal --> 
<div class="modal" id="jobPostModal">
	<form>
		<div class="close">X</div>
		<label for="jobCategory">jobCategory</label>
		<select name="category" id="jobCategory" class="formElement">
			<option value="food">Food Pickup and Delivery </option>
			<option value="Laundry">Laundry</option>
			<option value="Groceries">Groceries</option>
			<option value="Tutoring">Tutoring</option>
			<option value="Transportation">Transportation</option>
		</select> 
		<input type="text"class="formElement" placeholder="JOB DESCRIPTION" required>
		
		<input type="number" class="formElement"  name="quantity" min="2" max="25" placeHolder="PAYMENT AMOUNT">
		
		<input type="text"class="formElement" placeholder="MEETING LOCATION" required>
		
		<label for="jobDeadlineDate">Deadline Date</label>
		<input class="formElement" id="jobDeadlineDate"  type="date" name="deadlineDate">
		<label for="jobDeadlineTime">Deadline Time</label>
		<input class="formElement" id="jobDeadlineTime" type="time" name="deadlineTime" >
		<textarea class="formElement"name="jobNotes" id="jobNotes" cols="30" rows="4" placeholder="NOTES"></textarea>
 
	  	<input type="submit" value="Post Job"> 
	 </form>
</div>
