<!-- 
****************************************
Author: Jordan Silver, Austin Wells 
Team: Lab Labs 

*************************************** 
--> 

<!-- image overlay --> 
<div id="modalOverlay"></div>

<nav>

	<div id = "navMenu">
		
		<a href="./"><h1 id="title">Help Me Out</h1></a>

		<ul>
			<li class = "hoverable" id = "navHome"> 
				  <a href = "./">Home</a> 
			</li>

			<li class = "hoverable" id = "navPostJobs"> 
				<a href = "#jobPostModal" class = "modalLink">Post A Job</a>
			</li>

			<li class = "hoverable" id = "navMyJobs"> 
				<a href = "dashboard.php">My Jobs</a> 
			</li>

			<li class = "hoverable navVisible" id = "navSignUp">
				<a href = "#accountModal" class = "modalLink">Sign Up</a>
			</li>
		
			<li class = "navVisible" id = "navLogin">
				
				<form id = "loginForm">
					
					<input type = "text" id = "loginEmail" placeholder = "Email">
					<input type = "password" id = "loginPassword" placeholder = "Password">
					<input type = "submit" value = "Login">				

				</form>

			</li>

			<li class = "hoverable" id = "navTokens">
				<a href = "#tokenModal" class = "modalLink">
					<div id = "divToken">
						<img src="img/tokenOne.png" id = "tokenImg">
						<h1 id = "tokenCount">10</h1>
						<div class = "clear"></div>
					</div>
				</a>
			</li>

			<li class = "hoverable" id = "navUser">
					<a href = "#" id = "navUserEmail">cmdunn@smu.edu</a>
	
					<nav>
						<div id = "userNav">
							<ul>
	
								<li class = "hoverable" id = "navAccount"> 
									<a href = "account.php">My Account</a> 
								</li>

								<li class = "hoverable" id = "navSettings">
									<a href = "settings.php">Settings</a>
								</li>
	
								<li class = "hoverable" id = "navLogOut">
									<a href = "#">Log Out</a>
								</li>
	
							</ul>
						</div>
					</nav>	

			</li>

		</ul>

	</div>

</nav>