<!-- 
****************************************
Author: Jordan Silver, Austin Wells 
Team: Lab Labs 

*************************************** 
--> 

<!-- image overlay --> 


<div id="navOverlay">
</div>

<!--<div id="headerHolder">
	<div id="navDiv">
		<div id="headerTitle">HelpMeOut</div>
		<div id="navbar">
			<ul>
				<li class="navItem hoverable" id="indexHeader"> 
				  	<a href="index.php">Home</a> 
				</li>
				<li class="navItem hoverable postJob" id="postJobHeader"> 
					<a href="#" class="modalLink">Post A Job</a><!--SHOULD OPEN JOB POSTING MODAL
				</li>
				<li class="navItem hoverable" id="dashboardHeader"> 
					<a href="dashboard.php">My Jobs<!--pending alert symbol--</a> 
				</li>
				<li class="navItem hoverable" id="accountHeader"> 
					<a href="account.php">My Account</a> 
				</li>
				<li class="login clickable hoverable" id="navRight">
					<a href="#" class="modalLink">
						Login/Signup
						<div class="loginInformation"> </div> 
						<div class="logout clickable"> </div> 
					</a>
				</li>

			</ul>
		</div> 
	</div>
</div>-->

<nav>

	<div id = "navMenu">
		
		<h1>Help Me Out</h1>

		<ul>
			<li class = "hoverable" id = "navIndex"> 
				  <a href = "index.php">Home</a> 
			</li>

			<li class = "hoverable" id = "navPostJobs"> 
				<a href = "#" class = "modalLink">Post A Job</a>
			</li>

			<li class = "hoverable" id = "navMyJobs"> 
				<a href = "dashboard.php">My Jobs</a> 
			</li>
			
			<li class = "hoverable" id = "navAccount"> 
				<a href = "account.php">My Account</a> 
			</li>
		
			<li id = "navLogin">
				
				<form id = "loginForm">
					
					<input type = "text" placeholder = "Email">
					<input type = "password" placeholder = "Password">
					<input type = "submit" value = "Login">
					<input type = "submit" value = "Sign Up">
					

				</form>

			</li>
		</ul>

	</div>

</nav>

<div "clear"></div>

<!-- Login Modal --> 
<!--<div class="modal"  id="loginModal">
	<form class="loginForm">
	<div class="close">X</div>
	  <input class="formElement" id="loginName" type="text" name="email" placeholder="email" required pattern="\w+@\w+.\w+" title="not a valid email address">
	  <input class="formElement" id="loginPassword" type="password" name="password" placeHolder="password" required>
	  <input type="submit" value="submit">
	  <div class="errorMessage"> </div>
	  <input type="button" value="create account" class="createAccount">  
	 </form>
</div>-->

<!-- Account Modal --> 
<div class="modal" id="accountModal">
	<form class="accountForm">
		<div class="close">X</div>
	  	<input class="formElement" id="accountFName" type="text" name="fname" placeholder="FIRST NAME" required> 
	  	<input class="formElement" id="accountLName" type="text" name="lname" placeholder="LAST NAME" required>
	  	<select name = "gender" id = "accountGender" class = "formElement">
	  		<option value = "Male">Male</option>
	  		<option valute = "Female">Female</option>
	  	</select>
	  	<input class="formElement" id="accountBirthDate" type="date" name="birthdate" placeholder="BIRTH DATE" required>
	  	<input class="formElement" id="accountPhoneNumber" type="text" name="phonenumber" placeholder="PHONE NUMBER" required>
	  	<input class="formElement" id="accountEmail" type="email" name="email" placeholder="EMAIL" required pattern="\w+@\w+.\w+" title="not a valid email address">
	  	<input class="formElement" id="accountPassword" type="password" name="password" placeholder="PASSWORD" required pattern=".{8,}" title="password must be greater than or equal to 8 characters">
	  	<input class="formElement" id="accountConfirmPassword" type="password" name="password" placeholder="CONFIRM PASSWORD" required pattern=".{8,}" title="password must be greater than or equal to 8 characters">
	  	<input type="submit" value="create account"> 
	 </form>
</div>

<!-- Job Post Modal --> 
<div class="modal" id="jobPostModal">
	<form class="jobPostForm">
		<div class="close">X</div>
		<label for="jobCategory">Job Category</label>
		<select name="category" id="jobCategory" class="formElement">
			<option value="Food">Food Pickup and Delivery </option>
			<option value="Laundry">Laundry</option>
			<option value="Groceries">Groceries</option>
			<option value="Tutoring">Tutoring</option>
			<option value="Rides">Rides</option>
		</select> 
		<input type="text" id = "jobDescription" class="formElement" placeholder="SHORT DESCRIPTION" required>
		<label for="jobPrice">Price:</label>
		<input type="number" id = "jobPrice" class="formElement"  name="quantity" value = "2.00" min="2.00" step = "1.00">

		<input type="text" id = "jobLocation"class="formElement" placeholder="MEETING LOCATION" required>

		<label for="jobDeadlineDate">Deadline Date</label>
		<input class="formElement" id="jobDeadlineDate"  type="date" name="deadlineDate">
		<label for="jobDeadlineTime">Deadline Time</label>
		<input class="formElement" id="jobDeadlineTime" type="time" name="deadlineTime" >
		<textarea class="formElement"name="jobNotes" id="jobNotes" cols="30" rows="4" placeholder="NOTES"></textarea>
 
	  	<input type="submit" value="Post Job"> 
	 </form>
</div>