<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helpmeout"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.helpmeout.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.helpmeout.HomePage"
            android:label="@string/title_activity_home_page" >
        </activity>
        <activity
            android:name="com.example.helpmeout.PostJob"
            android:label="@string/title_activity_post_job" >
        </activity>
        <activity
            android:name="com.example.helpmeout.JobsAvailable"
            android:label="@string/title_activity_jobs_available" >
        </activity>
        <activity
            android:name="com.example.helpmeout.ProfilePage"
            android:label="@string/title_activity_profile_page" >
        </activity>
        <activity
            android:name="com.example.helpmeout.JobsDisplay"
            android:label="@string/title_activity_jobs_display" >
        </activity>
    </application>

</manifest>
